body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}

button {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;}
.center {
  margin: auto;
  width: 100%;
  border: 3px solid #f44336;
  padding: 10px;
}
  h1 {text-align: center;}
  .right{
    text-align: right;
  }
  header {   width: 100%;}
.center {
  margin: auto;
  width: 100%;
  border: 3px solid #f44336;
  padding: 10px;
  
  }
  .dark-mode {
  background-color: black;
  color: white;
}